services:
  postgres:
    ports:
      - 5432:5432
    environment:
      - POSTGRES_PASSWORD=postgres_password
      - POSTGRES_USER=postgres_user
      - POSTGRES_DB=database

  prisma-studio:
    ports:
      - 5555:5555

  backend:
    environment:
      - PORT=3000
    ports:
      - 3000:3000

  frontend:
    environment:
      - PORT=4000
    ports:
      - 4000:4000
